{% extends "_shared_base.html" %}
{% block title %}Bad Egg Pizza{% endblock %}
{% block content %}
<div class='pageContent'>
  <img src="static/images/eggdab.png">
  <h1>Bad Egg Pizza</h1>
  <p>Welcome, {{ username }}</p>
  <p>The weight of <em><span hx-trigger="load" hx-get="/total_orders" hx-swap="outerHTML">an unknown quantity of</span></em> pizza sales compresses the air.</p>
  <p><a href="/pagetwo">Page Two</a></p>
  <p><a href="/pagethree">Page Three</a></p>
  <p><a href="/pagefour">Page Four</a></p>
  <p><a href="/logout">Logout here</a></p>
  <hr>
  <div class="orderInput" hx-swap="innerHTML" hx-target="this">
    {% include 'partial/order_form.html' with context %}
  </div>
  <hr>
  <table>
    <thead>
      <tr>
        <th>Date</th>
        <th>Time</th>
        <th>Name</th>
        <th>Size</th>
        <th>Style</th>
        <th>Price</th>
      </tr>
    </thead>
    <tbody>
      {% if sale_rows %}
        {% for sale_row in sale_rows %}
        <tr>
          <td>{{ sale_row.date }}</td>
          <td>{{ sale_row.time }}</td>
          <td>{{ sale_row.name }}</td>
          <td>{{ sale_row.size }}</td>
          <td>{{ sale_row.style }}</td>
          <td>{{ sale_row.price }}</td>
        </tr>
        {% endfor %}
      {% else %}
        <tr>
          <td span="6">No data</td>
        </tr>
      {% endif %}
    </tbody>
  </table>
</div>
{% endblock %}

  </body>
</html>
