{% extends "_shared_base.html" %}
{% block title %}Bad Egg Pizza{% endblock %}
{% block content %}
<div class='pageContent'>
  <img src="static/images/eggdab.png">
  <h1>Bad Egg Pizza</h1>
  <p>Welcome, {{ username }}</p>
  <p>The weight of <em><span hx-trigger="load" hx-get="/_total_orders" hx-swap="outerHTML">an unknown quantity of</span></em> pizza sales compresses the air.</p>
  <p><a href="/reports">Page Two</a></p>
  <p><a href="/pagethree">Page Three</a></p>
  <p><a href="/pagefour">Page Four</a></p>
  <p><a href="/logout">Logout here</a></p>
  <hr>
  {% include 'partial/order_form.html' with context %}
  <hr>
  <p><span hx-trigger="load" hx-get="/_orders_table" hx-swap="outerHTML">Loading table...</span></p>
</div>
{% endblock %}
